.avatars {
  display: inline-flex;
}
.avatars-reverse {
  flex-direction: row-reverse;
}
.avatar {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.avatar-small {
  width: 2.4rem;
  height: 2.4rem;
}
.avatar-medium {
  width: 3.8rem;
  height: 3.8rem;
}
.avatar-margin-left:not(:last-child) {
  margin-left: -7px;
}
.avatar-margin-right:not(:last-child) {
  margin-right: -7px;
}
.avatar img {
  width: 100%;
  display: block;
}
